{
  "presets": [
    [
      "next/babel"
    ]
  ],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "pure" : true,
        "ssr": true,
        "displayName" : true,
        "process" : false

      }
    ]
  ]
}

